contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section {
  display: inline-block;
  border: var(--border);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: left;
}
section ul {
  margin: 0px;
}
.iwrapper {
  display: flex;
}
.swrapper {
  display: inline;
  width: fit-content;
}
.swrapper ul {
  padding-left: 5px;
}
.swrapper ul li::marker {
  color: var(--bgColour);
}
h2 {
  margin: 5px;
  font-size: xx-large;
  color: var(--signatureColour);
}
.item{
  margin: 5px;
  font-size: x-large;
}