body {
  display: block;
  text-align: center;
}
container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section {
  display: inline-block;
  border: var(--border);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: left;
}
@media screen and (max-width: 400px) {
  section {
    width: 100%;
    border-left-width: 1px;
    border-right-width: 1px;
    border-radius: 0px;
    padding: 0px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin: 0px;
  }
}
.iwrapper {
  display: flex;
  flex-wrap: wrap;
}
.swrapper {
  display: inline;
  width: fit-content;
  border-left: 1px solid silver;
  margin: 2px;
}
.swrapper ul {
  padding-left: 5px;
  margin: 0px;
  margin-right: 5px;
}
li {
  margin-top: 2px;
}
h3 {
  margin: 5px;
  font-size: 2rem;
}
section h3 {
  color: var(--signatureColour);
}
.item {
  margin: 5px;
  font-size: 1.9rem;
}
#disclaimer {
  margin-top: 10px;
}