contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section {
  display: inline-block;
  border: var(--border);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: left;
}
@media screen and (max-width: 400px) {
  section {
    width: 100%;
    border-left: 1px solid var(--bgColour);
    border-right: 1px solid var(--bgColour);
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
  }
}
section ul {
  margin: 0px;
}
.iwrapper {
  display: flex;
}
.swrapper {
  display: inline;
  width: fit-content;
  border-left: 1px solid silver;
  margin: 2px;
}
.swrapper ul {
  padding-left: 5px;
}
h2 {
  margin: 5px;
  font-size: xx-large;
  color: var(--signatureColour);
}
.item{
  margin: 5px;
  font-size: x-large;
}