*:focus-visible {
  outline: var(--secondary-colour) solid 2px;
  border-radius: 5px;
}
/** Repetitive borders */
navbar, article, subarticle, .list-box-wrapper, cmd, input, .img-carousel, button {
  border: var(--border);
  border-radius: 5px;
}
/** Structural Elements */
html, body {margin: 0px}
html {
  /* variables */
  --accent: rgb(28, 102, 28);
  --secondary-colour: rgb(192, 192, 192);
  --primary-colour: #1b1f22;
  --primary-dark: #0d1922;
  --border: 2px solid var(--secondary-colour);
  --border-shrunk: 1px solid var(--secondary-colour);
}
body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  line-height: 1.6;
  font-family: monospace;
}
navbar, article {
  display: inline-block;
  
}
article {
  max-width: 100%;
  margin: auto;
  text-align: center;
  overflow-wrap: normal;
  word-wrap: normal; /* just in case */
}
header {margin: 15px}
@media screen and (max-width: 300px) {
  header {
    padding: 5px;
    margin: 10px;
  }
}
intro {
  display: inline-block;
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
}
subarticle {
  display: block;
  width: 80%;
  padding: 4px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media screen and (max-width: 300px) {
  article {max-width: 100%}
  subarticle {
    border-left: 1px solid var(--primary-colour);
    border-right: 1px solid var(--primary-colour);
    border-bottom: 0px;
    border-radius: 0px;
  }
}
/** tables / lists */
.list-box-wrapper {
  background-color: var(--primary-dark);
  max-width: 60%;
  min-width: 200px;
  margin: 5px;
}
.list-box {
  display: grid;
  min-height: fit-content;
  max-height: 400px;
  overflow: auto;
}
.list-box-wrapper h3 {margin: 5px}
item {
  display: inline-block;
  border-top: var(--border);
  padding: 5px;
}
.table-wrapper {
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
/** Pseudo tables */
.table-wrapper ptable {margin: 5px}
ptable {
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--primary-dark);
  border: var(--border-shrunk);
  border-radius: 5px;
  max-width: fit-content;
  margin: auto;
  margin-top: 10px;
}
ptable.large {
  min-height: fit-content;
  max-height: 500px;
  border-width: 2px;
  overflow: auto;
}
pth {
  grid-column: 1 / span 2;
  border: inherit;
  overflow-wrap: break-word;
  padding: 5px;
}
ptd {
  display: block;
  border: inherit;
  padding: 5px;
  overflow-wrap: break-word;
}
/** Text */
p {
  border-left: var(--border);
  padding-left: 5px;
  text-align: left;
}
p:not(subarticle p) {
  max-width: 80%;
  margin: auto;
}
ul {text-align: left}
.list {width: 80%}
a {color: var(--accent)}
a:hover {color: var(--secondary-colour)}
li a {color: var(--secondary-colour)}
li a:hover {color: var(--accent);}
a.external::after {content: '⇗'}
p a {
  font-size: inherit;
  font-weight: bold;
}
subarticle a:not(p a) {
  display: block;
  font-size: 1.6rem;
}
sig {
  color: var(--accent);
}
cmd, .cmd {
  background-color: var(--secondary-colour);
  color: var(--primary-dark);
  font-size: 0.95em;
  white-space: nowrap;
}
input {
  background-color: inherit;
  color: inherit;
  width: 80%;
  margin-bottom: 5px;
}
input:focus-visible {border: 2px solid var(--accent)}
/** Text sizes */
html {font-size: 10px}
@media screen and (max-width: 450px) {
  html {font-size: 9px}
}
h1 {font-size: 3.8rem}
h2 {font-size: 3.3rem}
h3 {font-size: 3rem}
.img-wrapper p {font-size: 1.6rem}
pth, .list-box-wrapper h3 {font-size: 2.2rem}
ptable, p, li, item {font-size: 1.7rem}
@media screen and (max-width: 300px) {
  p {
    max-width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 260px) {
  h3 {font-size: 3.2rem}
  p {font-size: 2rem}
}
/** images */
.img-carousel {
  height: fit-content;
  max-width: 95%;
  margin: auto;
  overflow-x: auto;
  white-space: nowrap;
}
.img-wrapper {
  display: inline-block;
  white-space: normal;
  margin: 5px;
  margin-top: 8px;
}
img {
  max-width: 300px;
  max-height: 200px;
}
img.large {
  max-width: 500px;
  max-height: 275px;
  cursor: alias;
}
@media screen and (max-width: 1000px) {
  img.large {
    max-width: 200px;
    max-height: 100px;
  }
}
@media screen and (max-width: 415px) {
  img {
    max-width: 200px;
    max-height: 150px;
  }
}
/** Other */
button {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  cursor: pointer;
}
button:hover {
  opacity: 0.6;
}
/** classes / selectors */
#selected {
  color: var(--accent);
  border-bottom: 1px solid var(--accent);
  text-decoration: none;
}
#home {
  display: none;
  margin-top: 5px;
}
#home button {
  padding: 7px;
  font-size: 2.7rem;
  font-weight: bold;
}
@media screen and (max-width: 670px) {
  body {display: block}
  navbar {display: none}
  #home {display: inline-block;}
  header {margin-top: 10px}
}
@media screen and (max-width: 300px) {
  #home {margin-top: 5px}
}
#up {
  position: fixed;
  background-color: var(--primary-colour);
  border-radius: 10px;
  bottom: 1px;
  left: 21.5%;
  z-index: 20;
  text-decoration: none;
}
#up h4 {
  margin: 0px;
  padding: 5px;
  color: var(--accent);
  font-size: 1.7rem;
}
#up h4:hover {color: var(--secondary-colour);}
/* 
* Navigation 
*/
navbar {
  padding-left: 5px;
  margin-right: 2px;
  vertical-align: top;
  line-height: normal;
  text-align: start;
  font-size: 10px;
}
nav {margin-right: 5px}
.nav-title {
  border-left: var(--border);
  padding-left: 5px;
  margin-bottom: 0px;
}
nav ul {
  border-left: var(--border);
  width: auto;
  padding-left: 5px;
  padding-top: 10px;
  margin-top: 0px;
  list-style: none;
}
nav ul li {
  margin-bottom: 10px;
  font-size: 2rem;
}
.dropdown {
  display: none;
  border-left: 1px solid var(--accent);
}
.dropdown li {font-size: 1.7rem;}
.dropdown li:hover::before {
  content: '#';
  color: var(--accent);
}