/* elements */
#navbar {
  width: 20%;
  vertical-align: top;
}
@media screen and (max-width: 670px) {
  #navbar {
    display: none;
  }
  #home {
    display: inline-block;
  }
  header {
    margin-top: 10px;
  }
}
nav ul {
  border-left: var(--border);
  width: auto;
  padding-left: 5px;
  padding-top: 10px;
  margin-top: 0px;
  list-style: none;
}
nav ul li {
  margin-bottom: 10px;
  font-size: x-large;
}
.dropdown {
  display: none;
  border-left: 1px solid var(--signatureColour);
}
.dropdown li {
  font-size: large;
}
.nav-title, #index {
  font-size: xx-large;
}
/* classes / selectors */
#selected {
  color: var(--signatureColour);
}
#home {
  display: none;
  background-color: silver;
  border-radius: 5px;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--bgColour);
}
@media screen and (max-width: 300px) {
  #home {
    margin-top: 5px;
  }
}
#top {
  position: fixed;
  z-index: 20;
  background-color: var(--bgColour);
  border-radius: 10px;
  text-decoration: none;
}
#top h4 {
  margin: 0px;
  padding: 5px;
  color: var(--signatureColour);
}
#top h4:hover {
  color: silver;
}