navbar {
  font-size: 10px;
}
nav {
  margin-right: 5px;
}
nav ul {
  border-left: var(--border);
  width: auto;
  padding-left: 5px;
  padding-top: 10px;
  margin-top: 0px;
  list-style: none;
}
nav ul li {
  margin-bottom: 10px;
  font-size: 2rem;
}
.dropdown {
  display: none;
  border-left: 1px solid var(--signatureColour);
}
.dropdown li {
  font-size: 1.7rem;
}
/* classes / selectors */
#selected {
  color: var(--signatureColour);
}
#home {
  display: none;
  background-color: silver;
  border-radius: 5px;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--bgColour);
}
@media screen and (max-width: 670px) {
  body {
    display: block;
  }
  navbar {
    display: none;
  }
  #home {
    display: inline-block;
  }
  header {
    margin-top: 10px;
  }
}
@media screen and (max-width: 300px) {
  #home {
    margin-top: 5px;
  }
}
#up {
  position: fixed;
  background-color: var(--bgColour);
  border-radius: 10px;
  top: 10px;
  left: 95%;
  z-index: 20;
  text-decoration: none;
}
#up h4 {
  margin: 0px;
  padding: 5px;
  color: var(--signatureColour);
  font-size: 1.7rem;
}
#up h4:hover {
  color: silver;
}