/* 
* This is for navigation-related elements
*/
navbar {
  padding-left: 5px;
  margin-right: 2px;
  vertical-align: top;
  text-align: start;
  font-size: 10px;
}
nav {margin-right: 5px}
.nav-title {
  border-left: var(--border);
  padding-left: 5px;
  margin-bottom: 0px;
}
nav ul {
  border-left: var(--border);
  width: auto;
  padding-left: 5px;
  padding-top: 10px;
  margin-top: 0px;
  list-style: none;
}
nav ul li {
  margin-bottom: 10px;
  font-size: 2rem;
}
.dropdown {
  display: none;
  border-left: 1px solid var(--accent);
}
.dropdown li {font-size: 1.7rem;}
.dropdown li:hover::before {
  content: '#';
  color: var(--accent);
}
/* classes / selectors */
#selected {
  color: var(--accent);
  border-bottom: 1px solid var(--accent);
  text-decoration: none;
}
#home {
  display: none;
  border-radius: 5px;
  margin-top: 5px;
}
#home button {
  padding: 7px;
  font-size: 2.7rem;
  font-weight: bold;
}
@media screen and (max-width: 670px) {
  body {display: block}
  navbar {display: none}
  #home {display: inline-block;}
  header {margin-top: 10px}
}
@media screen and (max-width: 300px) {
  #home {margin-top: 5px}
}
#up {
  position: fixed;
  background-color: var(--main_colour);
  border-radius: 10px;
  bottom: 1px;
  left: 21.5%;
  z-index: 20;
  text-decoration: none;
}
#up h4 {
  margin: 0px;
  padding: 5px;
  color: var(--accent);
  font-size: 1.7rem;
}
#up h4:hover {color: silver;}