/* Structural Elements */
html, body, table, tbody {
  /* css is weird mkay */
  width: 100%;
  height: 100%;
  margin: 0px;
}
html {
  /* variables */
  --mainTextColour: silver;
  --signatureColour: forestgreen;
  --bgColour: #132533;
  --border: 2px solid silver;
}
body {
  font-family: monospace;
  color: var(--mainTextColour);
  background-color: var(--bgColour);
}
#navbar, #body {
  border: var(--border);
  border-radius: 5px;
  padding: 10px;
}
#body {
  vertical-align: top;
  text-align: center;
}
@media screen and (max-width: 500px) {
  #body {
    padding: 0px;
  }
}
@media screen and (max-width: 270px) {
  #body {
    border-width: 0px;
  }
}
#navbar {
  width: 20%;
  vertical-align: top;
}
header {
  margin: 15px;
}
@media screen and (max-width: 300px) {
  header {
    padding: 5px;
    margin: 10px;
  }
}
article, intro {
  display: inline-block;
  max-width: 80%;
  margin-bottom: 20px;
  scroll-behavior: smooth;
  overflow-wrap: normal;
  word-wrap: normal; /* just in case */
}
subarticle {
  display: block;
  border: var(--border);
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 20px;
}
@media screen and (max-width: 300px) {
  article {
    max-width: 100%;
  }
  subarticle {
    border-left: 1px solid var(--bgColour);
    border-right: 1px solid var(--bgColour);
    border-radius: 0px;
  }
}
/* tables / lists */
.twrapper {
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.twrapper .stats {
  max-width: min-content;
  margin: 5px;
}
.stats {
  background-color: #0f1c27;
  max-width: fit-content;
  border-collapse: collapse;
  border: var(--border);
  border-radius: 5px;
  table-layout: auto;
  margin: auto;
  margin-top: 10px;
}
.stats tbody tr th {
  padding: 5px;
}
.stats tbody tr td {
  padding: 5px;
  border: 1px solid silver;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.list-box-wrapper {
  background-color: #0f1c27;
  border: var(--border);
  border-radius: 5px;
  max-width: 60%;
  min-width: 200px;
  margin: 5px;
  text-align: start;
}
.list-box {
  display: grid;
  min-height: fit-content;
  max-height: 400px;
  overflow: auto;
}
.list-box-wrapper:first-child {
  text-align: center;
}
.list-box-wrapper h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
item {
  display: inline-block;
  border-top: var(--border);
  padding: 5px;
}
/* Text */
h3 {
  font-size: x-large;
}
ul {
  margin: auto;
  text-align: left;
}
.list {
  width: 80%;
}
li, td, p {
  font-size: large;
  word-wrap: break-word;
}
@media screen and (max-width: 300px) {
  p {
    max-width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 260px) {
  h2 {
    font-size: large;
  }
  h3 {
    font-size: large;
  }
  p {
    font-size: medium;
  }
}
a {
  color: var(--mainTextColour);
}
a:hover {
  color: var(--signatureColour);
}
p a {
  font-weight: bold;
}
sig {
  color: var(--signatureColour);
  text-decoration: underline;
}
cmd {
  background-color: silver;
  border: var(--border);
  border-radius: 5px;
  color: black;
}
input:focus-visible {
  border: 2px solid var(--signatureColour);
}
/* modifiers */
.nav-title {
  border-left: var(--border);
  padding-left: 5px;
  margin-bottom: 0px;
}
.gold {
  font-style: normal;
  color: #FA0;
}
/* images */
img {
  max-width: 300px;
  max-height: 200px;
  border-radius: 5px;
}
.large {
  max-width: 500px;
  max-height: 275px;
  cursor: alias;
}
@media screen and (max-width: 1000px) {
  .large {
    max-width: 200px;
    max-height: 100px;
  }
}
@media screen and (max-width: 415px) {
  img {
    max-width: 200px;
    max-height: 150px;
  }
}
label {
  font-style: italic;
  display: block;
}
.imgwrapper {
  display: inline-block;
}
/* disclaimer */
#disclaimer {
  display: none;
  max-width: 80%;
  border: var(--border);
  border-radius: 5px;
  padding: 3px;
  margin-top: 10px;
  margin: auto;
  word-wrap: normal;
}
@media screen and (max-width: 600px) {
  #disclaimer {
    display: block;
  }
}